
<main>
<main-content class="clearfix">
		<section class="user-area">
			<h1>User info</h1>

			<!-- エラーメッセージがあれば表示する -->
			<% if @user.errors.any? %>
						<div class="error-message-area">
							<h2><%= @user.errors.count %> errors prohibited this obj from being saved:</h2>
							<ul  class="error-detail">
							<% @user.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
							</ul>
						</div>
			<% end %>

			<%= form_for(@user) do |f| %>
				<div class="field">
					<label for="user_name">Name</label>
					<%= f.text_field :name, class: 'col-xs-offset' %>
				</div>
				<div class="field">
					<label for="user_profile_image">Image</label>
					<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
				</div>
				<div class="field">
					<label for="user_introduction">introduction</label>
					<%= f.text_area :introduction, class: 'col-xs-offset' %>
				</div>
				<div class="actions">
					<%= f.submit "Update User" %>
				</div>
			<% end %>

		</section>

</main-content>
</main>