
<main>
<main-content class="clearfix">
	<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

	<dev class="left-area">
		<section class="user-area">
			<h1>User info</h1>
			<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
			<h2 class="subtitle">name</h2>
			<p><%= current_user.name %></p>
			<br>
			<h2 class="subtitle">introduction</h2>
			<p><%= current_user.introduction %></p>
			<br>
        	<%= link_to "プロフィール編集", edit_user_path(current_user) %>
		</section>


		<section class="new-area">
			<h1>New book</h1>

			<%= form_for(@book) do |f| %>
				<h2 class="subtitle">Title</h2>
					<%= f.text_field :title %>
				<h2 class="subtitle">Opinion</h2>
					<%= f.text_area :body %>
					<br>
					<%= f.submit 'Create Book' %>
			<% end %>

		</section>
	</dev>

	<section class="right-area">
		<h1>Books</h1>
		<table>
			<thead>
				<tr>
					<th>Image</th>
					<th>name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
					<td><%= user.name %></td>
					<td><%= link_to "Show", user_path(user.id)%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</section>

</main-content>
</main>


