
<main>
<main-content class="clearfix">

	<dev class="col-xs-3"></dev>

	<section class="col-xs-6">
		<h1>Editing Book</h1>

		<!-- エラーメッセージがあれば表示する -->
		<% if @book.errors.any? %>
					<div class="error-message-area">
						<h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
						<ul  class="error-detail">
						<% @book.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
						</ul>
					</div>
		<% end %>
		<%= form_for(@book) do |f| %>
			<div class="form-area1">
				<label for="book_title">Title</label>
				<%= f.text_field :title, class: 'col-xs-12' %>
			</div>
			<div class="form-area1">
				<label for="book_opinion">Opinion</label>
				<%= f.text_area :body, class: 'col-xs-12' %>
			</div>
			<div class="form-area2">
				<%= f.submit "Update Book", class: "btn btn-primary col-xs-12" %>
			</div>
		<% end %>

		<li class="link-text"><%= link_to "Show", book_path(@book.id), class: 'edit-link-decoration' %></li>
		<li class="link-text"><%= link_to "Back", books_path, class: 'edit-link-decoration' %></li>
	</section>

</main-content>
</main>

