
<main>
<main-content class="clearfix">
	<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <!-- 左部分 -->
	<dev class="col-lg-3">
			<!-- ユーザプロフィール部分 -->
			<h1>User info</h1>
			<%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
			<table class="table">
				<tbody>
					<tr>
						<th>name</th>
						<th><%= @book.user.name %></th>
					</tr>
					<tr>
						<th>introduction</th>
						<th><%= @book.user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<div class="link-area">
				<% if @book.user == current_user %>
					<%= link_to "", edit_user_path(current_user), class: 'col-lg-12 btn btn-default glyphicon glyphicon-wrench'%>
				<% else %>
					<%= link_to "", user_path(current_user), class: 'col-lg-12 btn btn-default glyphicon glyphicon-wrench'%>
				<% end %>
			</div>
			<!-- 新規投稿部分 -->
			<h1>New book</h1>

			<%= form_for(@new_book) do |f| %>
				<div class="form-area1">
					<label for="book_title">Title</label>
					<%= f.text_field :title, class: 'col-lg-12' %>
				</div>
				<div class="form-area1">
					<label for="book_opinion">Opinion</label>
					<%= f.text_area :body, class: 'col-lg-12' %>
				</div>
				<div class="form-area2">
					<%= f.submit "Create Book", class: "btn btn-primary col-lg-12" %>
				</div>
			<% end %>
	</dev>

	<!-- 右部分 -->
	<section class="col-lg-9">
		<h1>Book detail</h1>
		<table class ="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
					<td><%= @book.title %></td>
					<td><%= @book.body %></td>
					<% if @book.user == current_user %>
						<td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn-sm btn-success' %></td>
						<td><%= link_to "Destroy", book_path(@book.id), class: 'btn-sm btn-danger' , method: :delete, "data-confirm" => "本当に消しますか？" %></td>
					<% end %>
				</tr>

			</tbody>
		</table>
		<span>投稿者：<%= link_to @book.user.name, user_path(@book.user) %></span>
		<br><br>
		<!-- いいね機能実装 -->
		<% if @book.favorited_by?(current_user) %>
				<%= link_to book_favorites_path(@book), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<%= @book.favorites.count %> いいね
				<% end %>
		<% else %>
				<%= link_to book_favorites_path(@book), method: :post do %>
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<%= @book.favorites.count %> いいね
				<% end %>
		<% end %>

		<br><br>
		<!-- コメント欄を実装 -->
		<div class="comment-list bt style-2" id="comments">
	    <div class="float-wrapper">
	        <h2 class="comment-count"><%= @book.post_comments.count %>件コメント</h2>
	    </div>
	    <table class ="table table-hover table-inverse">
	    	<thead>
				<tr>
					<th></th>
					<th>ユーザ名</th>
					<th>コメント</th>
				</tr>
			</thead>
			<tbody>
				<% @book.post_comments.each do |post_comment| %>
					<tr>
						<th><%= attachment_image_tag post_comment.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></th>
				   		<th><%= post_comment.user.name %></a></th>
				   		<th><%= post_comment.comment %></th>
				   	</tr>
		   		<% end %>
		   	</tbody>
		</table>

		<%= form_for [@book, @post_comment] do |f| %>
			<div class="row">
		        <div class="col-sm-12">
		            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
		        </div>
		    </div>
		    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		<% end %>

		
	</section>

</main-content>
</main>
